<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.devzooo.mapper.pagingMapper">
 	<insert id="insertBoard">
		<![CDATA[
			insert into mvc_sboard2 (bname, bpass, btitle, bcontent)
			values( #{bname}, #{bpass}, #{btitle}, #{bcontent} )
		]]>
 	</insert>
 	
 	<select id="selectBoard" resultType="BoardVO">
 		select * from mvc_sboard2 where bno = #{bno}
 	</select>
 	
 	<select id="selectAll" resultType="BoardVO">
 		select * from mvc_sboard2 order by bdate desc
 	</select>
 	
 	<select id="selectTen" resultType="BoardVO" parameterType="map">
 		select * from mvc_sboard2 order by bdate desc limit #{pstartno}, #{onepagelimit} 
 	</select>
 	
 	<select id="allListCnt" resultType="java.lang.Integer">
 		select count(*) from mvc_sboard2
 	</select>
 	
 	<select id="passck" resultType="java.lang.Integer">
 		select count(*) from mvc_sboard2 where bno = #{bno} and bpass = #{bpass}
 	</select>
 	
 	<select id="selectKeyword" resultType="BoardVO">
 		<![CDATA[
 			select * from mvc_sboard2 where btitle like concat('%',#{btitle},'%')
 			order by bdate desc
 		]]>
 	</select>
 	
 	<update id="updateBoard">
 		<![CDATA[
	 		update mvc_sboard2
			set btitle = #{btitle}, bcontent = #{bcontent}
			where bno = #{bno}
 		]]>
 	</update>
 	
 	<update id="incrementHit">
 		update mvc_sboard2 set bhit=bhit+1 where bno = #{bno}
 	</update>
 	
 	<delete id="deleteBoard">
 		delete from mvc_sboard2 where bno = #{bno}
 	</delete>
 	
 </mapper>
